#container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

#email-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 75%;
  padding: 20px;
  background-color: white;
  border-radius: 6px;
}

#input-email {
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 3px 0 gray;
  padding: 15px;
}
