@media (max-width: 768px) {
  main {
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.container-name-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#name-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.container-inputs input {
  border: none;
  box-shadow: 0 0 5px 0 gray;
  border-radius: 3px;
  padding: 5px;
  outline-color: blueviolet;
}
.container-input-name,
.container-input-lastname {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .container-name-form h2,
  .container-name-form p {
    color: white;
  }

  .container-inputs {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
  }
}
